@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantora+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

@font-face {
  font-family: ASl;
  src: url(fontes/American\ Sign\ Lenguage.otf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

p,
ul {
  font-size: 20px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

p.centro {
  text-align: center;
}

li {
  margin-left: 30px;
}

div {
  transition: 0.15s;
}

header {
  text-align: center;
  background-color: rgb(210, 210, 255);
  padding: 5px;
}

header > h1 {
  font-weight: 100;
  font-family: Margarine, Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
}

body {
  background-color: rgb(255, 255, 205);
}

main {
  background-color: white;
  margin: auto;
  max-width: 700px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
  padding: 20px;
}

hr {
  margin: 30px 10px 30px 10px;
}

section.introducao h1 {
  text-align: center;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

section.introducao > img {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  margin: auto;
}

section.introducao p {
  font-size: 20px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-top: 30px;
}

/* ESTILOS DAS AULAS  */

.hover:hover {
  transform: scale(1.01);
  cursor: pointer;
}

div.oculto {
  display: none;
}

section.section_indice img {
  margin: auto;
  border-radius: 15px;
}

section.section_indice hr {
  width: 90%;
  justify-self: center;
  margin: 0;
  margin-bottom: 10px;
}

section.section_indice h1 {
  font-family: "Indie Flower", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

section.section_indice p.sinais {
  text-align: center;
  font-size: 100px;
  font-family: ASL;
}

/* BOTÕES */

div.conteudo,
.ConteudoAlfabeto,
.ConteudoNumeros,
.ConteudoCumprientos,
.ConteudoAnimais,
.ConteudoCores {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #aaa;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #ddd;
  margin-bottom: 20px;
}

div.BotaoAlfabeto,
div.BotaoNumeros,
div.BotaoCumprimentos,
div.BotaoAnimais,
div.BotaoCores {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

div.con_alf,
div.con_num,
div.con_cum,
div.con_ani,
div.con_cor {
  padding: 20px;
  padding-top: 0;
}

/* DIVS DOS EXEMPLOS COM IMAGENS */

div.exemplos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  max-height: 100%;
}

.exemplos p {
  font-size: 20px;
  font-weight: 600;
}

.imgExemplo {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  flex-wrap: wrap;
  margin: 5px;
}

.imgExemplo img {
  height: 130px;
  border: 1px solid #aaa;
  width: 130px;
}
