@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantora+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 500;
}

header {
    text-align: center;
    background-color: rgb(210, 210, 255);
    padding: 5px;
}

header > h1 {
    font-weight: 100;
    font-family: Margarine, Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0)
}

body {
    background-color: rgb(255, 255, 205);
}

main {
    background-color: white;
    margin: auto;
    max-width: 700px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
    padding: 40px;
}

hr {
    margin: 30px 10px 30px 10px;
}

section.introducao h1 {
    text-align: center;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

section.introducao img {
    display: block;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin: auto;
}

section.introducao p {
    font-size: 20px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 30px;
}

main > section.section_indice div{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 120px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: .25s;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
}

main > section.section_indice img{
    display: block;
    width: 200px;
    margin: auto;
    border-radius: 15px;
}

section.section_indice hr {
    width: 100%;
    margin: 0;
    margin-top: 5px;
}

section.section_indice div:hover {
    transform: scale(1.02);
}

main > section.section_indice h1 {
    font-family: 'Indie Flower', Arial, Helvetica, sans-serif;
    font-weight: 600;
}
