@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantora+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

@font-face {
  font-family: ASl;
  src: url(../fontes/American\ Sign\ Lenguage.otf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

p,
ul {
  font-size: 20px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

p.centro {
  text-align: center;
}

li {
  margin-left: 30px;
}

div {
  transition: 0.15s;
}

header {
  text-align: center;
  background-color: rgb(255, 210, 210);
  padding: 5px;
}

header > h1 {
  font-weight: 100;
  font-family: Margarine, Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
}

body {
  background-color: rgb(255, 255, 205);
}

main {
  background-color: white;
  margin: auto;
  max-width: 700px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
  padding: 20px;
}

hr {
  margin: 30px 10px 30px 10px;
}
